@charset "UTF-8";

// COLOR
$blue-color: #326aff;

@media (max-width: 1484px) {

  // VISUAL
  .visual-inner {

    .tab {

      .txt {

        h2 {
          font-size: 5.5rem;
        }
      }
    }

    .btn {

      label {
        width: 14vw;
        padding: 15px 0;

        span {
          font-size: 1.4rem;
        }
      }
    }
  }

  // SEARCH
  .search {
    display: none;
  }
}

// 노트북 사이즈 대응
@media (max-height: 850px) {

  .technology-inner, .smarttech-inner, .landmark-inner, .media-inner {
    padding: 6vh 0;
  }

  // FOOTER
  .footer-wrap {

    .store {

      .store-info {

        > div {
          height: 32.7vh;
        }
      }
    }

    footer {

      .up {
        padding: 30px 0;
      }

      .footer-info {

        img {
          width: 150px;
        }
      }

      .down {

        .terms {

          li {

            a {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1420px) {

  .heading {

    h3 {
      font-size: 3.8rem;
    }
  }

  .technology-inner, .smarttech-inner, .bestproduct-inner, .landmark-inner, .media-inner {
    padding: 6vh 0;
  }

  // HEADER
  header {

    h1 {
      left: 30px;
    }

    .gnb-inner {
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      padding: 100px 60px 0;
      background-color: #f8f8f8;
      transition: .6s;

      &.active {
        right: 0;
      }
    }

    .menu {
      height: 82vh;
      background-color: #f8f8f8;
      text-align: left;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-track {
        background: #eee;
      }

      > li {
        display: block;
        border: 1px solid #eee;
        line-height: 1;

        &:hover {

          > a {
            color: inherit;
          }
          
          .submenu {
            height: auto;
            padding: 30px 40px 20px;
          }
        }

        > a {
          display: block;
          font-size: 2rem;
          padding: 32px 30px;
          background-color: #fff;
        }
      }
    }

    .submenu {
      display: none;
      position: static;
      width: auto;
      height: auto;
      padding: 30px 40px 20px;
      opacity: 1;
      background: transparent;
      border: none;
      border-radius: 0;
      text-align: left;
      background-color: #0044ff02;

      &.active {
        display: block;
      }

      > li {
        flex: 1;
        padding: 0;
        margin: 0 0 25px 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #ebebeb;

        &:last-child {
          border: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }

        &:hover {

          > a {
            color: inherit;
          }
        }

        > a {
          font-size: 1.8rem;
          border: none;
          margin: 0 0 12px 0;
          padding: 0;
        }

        > ul {

          li {

            a {
              display: inline-block;
              padding: 0;
              line-height: 1.7;

              &:hover {
                font-weight: 400;
              }
            }
          }
        }
      }
    }

    .header-right {
      visibility: hidden;
      right: auto;
      left: 60px;

      &.active {
        visibility: visible;
        transition-delay: .4s;
      }

      select {
        display: none;
      }
    }

    .trigger {
      position: absolute;
      right: 30px;
      top: 26px;
      width: 36px;
      height: 18px;
      cursor: pointer;

      &.active {

        span {

          &:nth-child(1) {
            top: 50%;
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            top: 50%;
            transform: rotate(-45deg);
          }
        }
      }

      span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
        transition: .5s;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
        }

        &:nth-child(3) {
          top: 100%;
        }
      }
    }
  }

  // VISUAL
  .visual-inner {

    .txt {

      h2 {

        > span {
          display: block;
        }
      }
    }

    .btn {

      label {

        span {
          font-size: 1.3rem;
        }
      }
    }
  }

  // TECHNOLOGY
  .technology-inner {

    ul {
      width: 100%;
      padding: 0 20px;

      li {

        a {

          .bg-effect {

            span {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }

  // BESTPRODUCT
  .bestproduct-inner {

    .heading {
      display: block;
      text-align: center;
      margin: 0 0 40px 0;
    }

    .bestproduct-slider {
      width: 100%;
      height: auto;
      padding: 0 30px;

      .slide {
        height: 60vh;
      }

      .slick-next, .slick-prev {
        z-index: 2;
      }

      .slick-next {
        right: 160px;
      }

      .slick-prev {
        left: 160px;
      }
    }
  }

  // LANDMARK
  .landmark-inner {

    .hover-btn {

      .icon {
        width: 155px;
        height: 100px;
      }
    }
  }

  // MEDIA
  .media-inner {

    .video-wrap {
      width: 100%;
      padding: 0 25px;
    }
  }
}

// 풀페이지 없어짐
@media (max-width: 1050px) {

  // ENTIRE-LAYOUT
  .cd-section {
    height: auto;

    > div {
      position: static;

      .content {
        position: static;
        height: auto;
      }
    }
  }

  .technology-inner, .smarttech-inner, .bestproduct-inner, .landmark-inner, .media-inner {
    padding: 12vh 0;
  }

  // HEADER
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border: 1px solid transparent;
    transition: .5s;

    &.active {
      background-color: rgba(255,255,255,.9);
      border-bottom: 1px solid #eee;

      h1 {
        
        img {
          filter: none;
        }
      }

      .trigger {

        span {
          background-color: #000;
        }
      }
    }

    h1 {

      img {
        filter: brightness(200%);
      }
    }

    .gnb-inner {
      position: fixed;
    }

    .trigger {

      span {
        background-color: #fff;
      }

      &.active {

        span {
          background-color: #000;
        }
      }
    }
  }

  // VISUAL
  .visual-inner {
    height: 100vh;
    overflow: hidden;

    .tab {

      .txt {
        top: 29vh;

        p {

          span {
            display: inline;
          }
        }
      }
    }

    .btn {
      bottom: 7vh;

      label {
        width: 6vw;
        margin: 0;

        p {
          display: none;
        }

        span {
          font-size: 1.6rem;
        }
      }
    }

    input[id=tab1]:checked ~ .btn label[for=tab1], input[id=tab2]:checked ~ .btn label[for=tab2], input[id=tab3]:checked ~ .btn label[for=tab3], input[id=tab4]:checked ~ .btn label[for=tab4], input[id=tab5]:checked ~ .btn label[for=tab5], input[id=tab6]:checked ~ .btn label[for=tab6] {

      width: 54vw;

      p {
        display: block;
      }
    }
  }

  // TECHNOLOGY
  .technology-inner {

    ul {
      flex-wrap: wrap;
      
      li {
        flex: 0 1 auto;
        width: calc(50% - 20px);
        margin: 0 10px 20px;
      }
    }
  }

  // SMARTTECH
  .smarttech-inner {

    .hover-effect {
      height: 66vh;
    }

    .hover-btn {
      width: 51%;
      text-align: center;

      .icon {
        width: 120px;
        height: 120px;
        margin: 0 5px 15px;
        padding: 26px 0;
        line-height: 1.2;
        vertical-align: top;

        span {
          display: block;
        }

        &:before {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  // BESTPRODUCT
  .bestproduct-inner {

    .bestproduct-slider {

      .slide {

        .txt {
          left: 30px;
        }
      }

      .slick-next {
        right: 90px;
      }

      .slick-prev {
        left: 90px;
      }
    }
  }

  // LANDMARK
  .landmark-inner {

    .hover-btn {
      width: 70%;

      &:after {
        display: none;
      }

      .icon {
        width: 200px;
        height: 120px;
        margin: 0 5vw 10px;
      }
    }
  }

  // MEDIA
  .media-inner {

    .video-wrap {

      .video-item {

        .cover {
    
          h4 {
            font-size: 2rem;
          }
        }
      }
    }
  }

  // FOOTER
  .footer-wrap {
    height: auto;

    .store {
      width: 100%;
      padding: 0 30px;
      margin-bottom: 12vh;

      .title {
        margin-bottom: 40px;

        h3 {
          font-size: 3.8rem;
        }

      }

      form {
        padding: 30px 10vw;

        select {
          margin-bottom: 10px;

          &:nth-child(2) {
            margin-right: 0;
          }
        }

        input, button {
          display: block;
          margin: 0 auto;
        }

        input {
          width: 80%;
          margin-bottom: 25px;
        }

        button {
          padding: 8px 50px;
        }
      }

      .store-info {

        > div {
          height: 29.9vh;
        }
      }
    }

    footer {
      position: static;

      .up {
        width: 100%;
        padding: 50px 30px;
        text-align: center;

        select {
          position: static;
          transform: none;
        }
      }

      .footer-info {
        width: 100%;
        margin: 0 auto 30px;
        padding: 0 150px;
      }
    }
  }
}

@media (max-width: 800px) {

  // HEADER
  header {

    h1 {
      left: 20px;
    }

    .gnb-inner {
      padding: 100px 20px;
    }

    .header-right {
      left: 20px;
    }

    .trigger {
      right: 20px;
    }
  }

  // VISUAL
  .visual-inner {

    .tab {

      .txt {

        h2 {
          width: 70vw;
        }

        p {
          width: 59vw;
        }
      }
    }
  }

  // TECHNOLOGY
  .technology-inner {

    ul {

      li {
        width: 100%;
        margin: 0 0 20px;

        a {

          .bg-effect {

            span {
              font-size: 2.2rem;
            }
          }
        }
      }
    }
  }

  // SAMRTTECH
  .smarttech-inner {

    .hover-btn {
      width: 67%;
    }
  }

  // BESTPRODUCT
  .bestproduct-inner {

    .bestproduct-slider {
      padding: 0 15px;

      .slick-next {
        right: 40px;
      }

      .slick-prev {
        left: 40px;
      }
    }
  }

  // LANDMARK
  .landmark-inner {

    .hover-effect {
      height: 70vh;
    }
  }

  // MEDIA
  .media-inner {

    .video-wrap {
      flex-direction: column;
      height: auto;
      padding: 0 15px;

      .video-item {
        width: 100%;
        height: 150px;

        &.active {
          width: 100%;
          height: 400px;
        }

        .cover {
          padding: 43px 0;

          h4 {
            font-size: 2.5rem;
          }
        }
      }
    }
  }

  // FOOTER
  .footer-wrap {

    .store {
      padding: 0 20px;
      margin-bottom: 50px;

      form {
        padding: 40px 40px 30px 40px;
        margin-bottom: 30px;

        select {
          display: block;
          width: 100%;
        }

        input {
          width: 100%;
        }
      }

      .store-info {
        flex-direction: column;

        > div {
          width: 100%;
          height: auto;
        }

        .map {
          height: 300px;
          margin-bottom: 20px;
        }
      }
    }

    footer {

      .up {
        padding: 50px 20px;
      }

      .footer-info {
        padding: 0;
      }
    }
  }
}

@media (max-width: 610px) {

  .smarttech-inner, .bestproduct-inner, .landmark-inner, .media-inner {
    padding: 6vh 0;
  }

  // VISUAL
  .visual-inner {

    .tab {

      .txt {

        h2 {
          font-size: 4.5rem;
        }

        p {
          width: 66vw;
        }
      }
    }
  }

  // TECHNOLOGY
  .technology-inner {
    padding: 12vh 0 5vh;
  }

  // SMARTTECH
  .smarttech-inner {

    .hover-btn {
      width: 88%;
    }
  }

  // BESTPRODUCT
  .bestproduct-inner {
   height: 90vh;
  }
}

@media (max-width: 490px) {

  // COMMON CSS
  // HEADING
  .heading {

    h3 {
      font-size: 3rem;
    }

    p {
      font-size: 1.4rem;
    }
  }

  // HEADER
  header {

    .gnb-inner {
      padding: 11vh 20px;
    }

    .menu {

      > li {

        > a {
          padding: 3vh 20px;
          font-size: 1.8rem;
        }
      }
    }

    .submenu {

      > li {

        > a {
          font-size: 1.6rem;
        }
      }
    }
  }

  // VISUAL
  .visual-inner {

    .tab {

      .txt {

        h2 {
          font-size: 3.5rem;
        }

        p {
          font-size: 1.4rem;
          width: 70vw;
        }
      }
    }

    .btn {

      label {

        span {
          font-size: 1.5rem;
        }
      }
    }
  }

  // SMARTTECH
  .smarttech-inner {

    .hover-effect {
      height: 550px;

      .hover-btn {

        .icon {
          width: 26vw;
          height: 26vw;
          padding: 8vw 0;
          color: transparent;

          &:before {
            width: 10vw;
            height: 10vw;
          }
        }
      }
    }

    .txt {

      h3 {
        font-size: 3rem;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }

  // BESTPRODUCT
  .bestproduct-inner {
    height: 93vh;

    .bestproduct-slider {

      .slide {

        .txt {
          top: 40px;
          left: 20px;

          h4 {
            font-size: 2.2rem;
            margin-bottom: 6px;
          }

          .badges {

            span {
              font-size: 1.2rem;
              padding: 3px 10px;
              margin: 0 3px 5px 0;
            }
          }
        }

        .download {
          display: none;
        }
      }

      .slick-next {
        right: 8vw;
      }

      .slick-prev {
        left: 8vw;
      }

      .slick-active {

        .txt {
          top: 20px;
        }
      }
    }
  }

  // LANDMARK
  .landmark-inner {

    .hover-btn {

      .icon {
        width: 150px;
        height: 90px;
      }
    }
  }

  // MEDIA
  .media-inner {

    .video-wrap {

      .video-item {

        .cover {

          h4 {
            font-size: 2.2rem;
          }
        }
      }
    }
  }

  // FOOTER
  .footer-wrap {

    .store {

      .title {

        h3 {
          font-size: 3rem;
        }

        p {
          font-size: 1.4rem;
        }
      }

      form {
        padding: 30px 20px 25px;
      }
    }

    footer {

      .down {

        .terms {
          padding: 10px 20px;

          li {

            a {
              font-size: 1.3rem;
            }
          }
        }

        p {
          padding: 10px 20px;
          font-size: 1.1rem;
        }
      }
    }
  }
}































